* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #222;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;

}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    border-bottom: 1px solid white;
}

main {
    padding-top: 70px;
    height: 2000px;
}
